<nav class="mobile-nav-container">
    <div class="logo-and-bar-wrap">
        {% if is_front_page %}
            <img class="mobile-logo" src="{{ options.site_logo.url }}" alt="Shane Schroll" />
        {% else %}
            <a class="mobile-logo" href="/">
                <img src="{{ options.site_logo.url }}" alt="Shane Schroll" />
            </a>
        {% endif %}

        <button id="mobile-menu-toggle" title="Open Menu">
            <span class="fa-regular fa-bars"></span>
        </button>
    </div>

    <ul class="mobile-nav-container__menu">
        <li class="mobile-menu-logo">
            {% if is_front_page %}
                <img src="{{ options.site_logo.url }}" alt="Shane Schroll" />
            {% else %}
                <a href="/">
                    <img src="{{ options.site_logo.url }}" alt="Shane Schroll" />
                </a>
            {% endif %}
        </li>

        {% for link in options.primary_navigation %}
            <li class="mobile-link-wrapper">
                <a
                    class="mobile-menu-link"
                    href="{{ link.menu_link.url }}"
                    >
                    {{ link.menu_link.title }}
                </a>
            </li>
        {% endfor %}

        <li>
            <button class="close-button" id="close-menu-button" title="Close Menu">&times;</button>
        </li>
    </ul>
</nav>
