<nav class="desktop-nav-container">
    {% if is_front_page %}
        <img src="{{ options.site_logo.url }}" alt="{{ options.site_logo.alt }}" />
    {% else %}
        <a href="/">
            <img src="{{ options.site_logo.url }}" alt="{{ options.site_logo.alt }}" />
        </a>
    {% endif %}

    <ul class="desktop-nav-container__menu">
        {% for link in options.primary_navigation %}
            <li>
                <a class="menu-link" href="{{ link.menu_link.url }}">{{ link.menu_link.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
