{% extends 'base.twig' %}

{% block content %}
<section class="about-content-block">

    <span id="tech-stack"></span> {# for jump link #}
    <div id="sphere-container">
        <canvas id="sphere-canvas" width="600" height="600" style="width: 100%;"></canvas>

        <div id="sphere-tags">
            <ul>
                {% for lang in post.get_field('language_icons') %}
                    <li>
                        <a href="javascript: void();">
                            <img
                                class="lang-icon"
                                src="{{ TimberImage( lang.icon ).src }}"
                                alt="{{ TimberImage( lang.icon ).alt }}"
                                title="{{ lang.name }}"
                            />
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <section id="full-width" class="portfolio-container">
        <div class="portfolio-container__inner-wrap">
            <span id="portfolio"></span> {# for jump link #}
            <h2>Portfolio of Past Work</h2>
            <p class="intro">
                Over the course of my 7-year development career, I have successfully built 50+ websites.<br/>
                Among those projects, these are a few that stand out as my personal favorites.<br/><br/>
                Please Note: These projects were based on contracts (now expired) and are up to the client to update/maintain.
            </p>
        </div>

        {% for work in portfolio %}
            {% if (loop.index is odd) %}
                <section id="full-width" class="odd">
                    <div class="row-wrap wrap-left">
                        <img
                            class="project-image"
                            src="{{ TimberImage( work.thumbnail ).src }}"
                            alt="{{ TimberImage( work.thumbnail ).alt }}"
                        />
                        <article>
                            <h4>{{ work.title }}</h4>
                            <p class="tech">Core Technologies</p>
                            <ul>
                                {% for term in work.terms('language') %}
                                    <li>{{ term.name }}</li>
                                {% endfor %}
                            </ul>

                            <a
                                class="main-button main-button--filled inline"
                                href="{{ work.site_link.url }}"
                                target="_blank"
                                rel="noreferrer noopener">
                                {{ work.site_link.title }}
                            </a>
                        </article>
                    </div>
                </section>
            {% else %}
                <section id="full-width" class="even">
                    <div class="row-wrap wrap-right">
                        <article>
                            <h4>{{ work.title }}</h4>
                            <p class="tech">Core Technologies</p>
                            <ul>
                                {% for term in work.terms('language') %}
                                    <li>{{ term.name }}</li>
                                {% endfor %}
                            </ul>

                            <a
                                class="main-button main-button--filled inline"
                                href="{{ work.site_link.url }}"
                                target="_blank"
                                rel="noreferrer noopener">
                                {{ work.site_link.title }}
                            </a>
                        </article>
                        <img
                            class="project-image portfolio-modal-image"
                            src="{{ TimberImage( work.thumbnail ).src }}"
                            alt="{{ TimberImage( work.thumbnail ).alt }}"
                        />
                    </div>
                </section>
            {% endif %}
        {% endfor %}

        <diologue class="portfolio-modal" aria-modal="true">
            <img
                class="portfolio-modal-image"
                src=""
                alt="{{ work.title }} Website"
            />
        </diologue>

    </section>
</section>
{% endblock %}