{% extends 'base.twig' %}

{% block content %}

{# Expertise/Skills section #}
<section class="expertise-section bottom-angle-right">

    {% set expertise = post.meta('expertise') %}
    <div class="exp-header">
        <div class="exp-header__title">
            <h3 class="small-header">{{ expertise.small_header }}</h3>
            <h2 class="no-mb">{{ expertise.large_header }}</h2>
        </div>

        <div class="exp-header__paragraph">
            <p>{{ expertise.paragraph_content }}</p>
            <a class="cta-button--cta-purple" href="/mockups">View Mockups</a>
        </div>
    </div>

    <div class="card-row">
        {% for card in expertise.expertise_cards %}
            <div class="card-row__item">
                <img
                    src="{{ TimberImage( card.card_image ).src }}"
                    alt="{{ TimberImage( card.card_image ).alt }}"
                />
                <h2 id="h4">{{ card.card_title }}</h2>
                <p class="no-mt no-mb">{{ card.card_text_area }}</p>
            </div>
        {% endfor %}
    </div>
</section>

<div class="bg-primary">

    {# About Section #}
    <section class="info-section bg-white bottom-angle-right angle-adjust-right">

        {% set about = post.meta('about') %}
        <div class="info-section__container">
            <img
                class="aside-image"
                src="{{ TimberImage( about.about_image ).src }}"
                alt="{{ TimberImage( about.about_image ).src }}"
            />

            <article class="aside-content ml-2">
                <h3 class="small-header">{{ about.small_header }}</h3>
                <h2 class="no-mb">{{ about.large_header }}</h2>
                <p>{{ about.paragraph_text }}</p>

                <div class="stat-cards">
                    {% for stat in about.stats %}
                        <div class="stat-cards__card">
                            <h3>{{ stat.number }}</h3>
                            <p class="no-mt no-mb">{{ stat.metric }}</p>
                        </div>
                    {% endfor %}
                </div>
            </article>
        </div>
    </section>

    {# Portfolio section #}
    <section class="info-section bg-primary add-pb">

        {% set portfolio_section = post.meta('portfolio') %}
        <div class="info-section__container">
            <article class="aside-content mr-2">
                <h3 class="small-header">{{ portfolio_section.small_header }}</h3>
                <h2 class="no-mb">{{ portfolio_section.large_header }}</h2>
                <p>{{ portfolio_section.paragraph_text }}</p>

                <div class="grid-cards">
                    {% for project in portfolio %}
                        <a class="grid-cards__card" href="{{ project.project_link }}" target="_blank" rel="noreferrer">
                            <img
                                src="{{ TimberImage( project.thumbnail ).src }}"
                                alt="{{ TimberImage( project.thumbnail ).alt }}"
                            />
                        </a>
                    {% endfor %}
                </div>
            </article>

            <img
                class="aside-image"
                src="{{ TimberImage( portfolio_section.section_image ).src }}"
                alt="{{ TimberImage( portfolio_section.about_image ).src }}"
            />
        </div>
    </section>
</div>
{% endblock %}