<section class="docs-container">
    <aside class="doc-navigation">
        <nav aria-label="Documentation jump links">
            <ul>
                {% for anchor in post.meta('documentation_links') %}
                    {% set anchor_slug = anchor.name|lower|replace({' ': '-'}) %}
                    <li>
                        <a class="doc-link" href="#{{ anchor_slug }}">{{ anchor.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </aside>

    <div class="project-selector" aria-label="Select a project">
        <section class="project-selector__tab-wrapper">
            {% set count = 1 %}
            {% for project in post.meta('project_selector_tabs') %}
                <div id="tab-{{ count }}" class="tab" aria-label="{{ project.tab_name }}">
                    <div class="icon-box">
                        <span class="{{ project.tab_icon }}"></span>
                    </div>

                    <p>{{ project.tab_name }}</p>
                </div>
                {% set count = count + 1 %}
            {% endfor %}
        </section>

        {# tab pages #}
        <article id="doc-tab-1" class="content-wrapper">
            {% include './components/docs/theme-docs.twig' %}
        </article>

        <article id="doc-tab-2" class="content-wrapper">
            {% include './components/docs/uikit-docs.twig' %}
        </article>

        <article id="doc-tab-3" class="content-wrapper">
            {% include './components/docs/ims-docs.twig' %}
        </article>

        <article id="doc-tab-4" class="content-wrapper">
            {% include './components/docs/crm-docs.twig' %}
        </article>

        <article id="doc-tab-5" class="content-wrapper">
            {% include './components/docs/hrm-docs.twig' %}
        </article>
    </div>
</section>