<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="content-language" content="en-us"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>{{ site.name }}</title>
		{{ fn('wp_head') }}

        {# Sitemap #}
        <link rel="sitemap" type="application/xml" href="/sitemap_index.xml"/>

        {# Fonts #}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gentium+Book+Plus|PT+Sans"/>
	</head>

	<body data-template="base.twig" class="{{ body_class }}">
        {{ include('partials/header.twig') }}

        <main class="main-post-content" aria-label="Main content">
            {% block content %}{% endblock %}
        </main>

        {{ include('partials/footer.twig') }}
		{{ fn('wp_footer') }}
	</body>
</html>
