<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="content-language" content="en-us" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{ post.title }} | Shane Schroll</title>

		{{ fn('wp_head') }}

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@600;700;900&display=swap" />
	</head>

	<body data-template="base.twig" class="{{ body_class }}">
        <div class="parallax-wrap">
            {% include 'components/navigation.twig' %}

            {% if not is_front_page %}
                {% include 'components/header-default.twig' %}
            {% else %}
                {% include 'components/header-home.twig' %}
            {% endif %}

            {% if not is_front_page %}
            <section class="main-post-wrapper" role="main" aria-label="Main page content">
            {% else %}
            <section class="home-post-wrapper" role="main" aria-label="Main page content">
            {% endif %}
                {% block content %}{% endblock %}
            </section>

            <div class="footer-drawer"></div>
        </div>

		{% include 'components/footer.twig' %}
		{% include 'components/mobile-nav.twig' %}

        {% if 'form' in get_url %}
            <script type="importmap">
                { "imports": {
                    "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
                }}
            </script>

            <script type="module" src="{{ theme.link }}/assets/js/dist/forms-dist.js"></script>
        {% endif %}

		{{ fn('wp_footer') }}
	</body>
</html>