<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8;">
		<meta http-equiv="content-language" content="en-us">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ site.name }} | {{ post.title }}</title>

		{{ fn('wp_head') }}

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap"> 
	</head>

	<body data-template="base.twig" class="{{ body_class }}">
		{% include 'header.twig' %}

		<section class="main-post-wrapper" role="main" aria-label="Main page content">
			{% block content %}{% endblock %}
		</section>

		<footer class="main-site-footer">
			<p>Designed &amp; Developed with <span class="fa-solid fa-heart"></span> by Shane Schroll</p>
		</footer>

		{{ fn('wp_footer') }}
	</body>
</html>